# Downloaded APKs
*.apk

# Log Files
*.log
*.html
*.json

#Temporary editor files
*.bak
*~

#Python bytecode
*.pyc

#AptoideStores
aptoidecrawler.config

#PlayStoreCredentials (those are super secret)
playstorecrawler.config
