#AndroidId,       Delay, Email,                                   Password,           Token
XXXXXXXXXXXXXXXX, 60,    user@example.org,                        supersecret,        optional_token_instead
