#AndroidId,       SDK, Delay, Email,                                   Password,           Token
XXXXXXXXXXXXXXXX, 24,  60,    user@example.org,                        supersecret,        optional_token_instead
